.git
.github
.cursor
.idea
.vscode
.env
.env.*
*.md
SwapShip_Presentation.pptx
scripts/
tests/
.phpunit.cache
.phpunit.result.cache
node_modules
vendor
public/build
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/pail
npm-debug.log
.DS_Store
